@model CardCatalog.Models.DeckViewModel

@{
    ViewBag.Title = "Create a Deck";
    var expansions = (List<CardCatalog.Models.Indexes.ExpansionCardCount.Result>)ViewBag.Expansions;
}

@section scripts {
    <script src="@Url.Content("~/Scripts/knockout-sortable.min.js")" type="text/javascript"></script>
    <script>Urls.cardSearch = '@Url.Action("search", "card")';</script>
    <script>
        var expansions = @Html.Json(expansions.Select(e => e.Name));
        var initialDeck = @Html.Json(Model);
    </script>
    <script src="@Url.Content("~/Scripts/deck-editor.js")" type="text/javascript"></script>
}
@section styles {
    <link href="@Url.Content("~/Content/deck-editor.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
<div id="deck">
    Name: @Html.TextBoxFor(m => m.Name)

    <!-- ko foreach: Columns -->
    <!-- ko foreach: Cards -->
    <input type="hidden" data-bind="value: 'cards/' + $data.Id(), attr: { name: 'Columns[' + $root.Columns.indexOf($parent) + '].CardIds[' + $index() + ']' }" />
    <!-- /ko -->
    <!-- /ko -->

    <div class="deck-container" data-bind="foreach: Columns">
        <div class="deck-column" data-bind="sortable: { data: Cards, options: { connectedWith: '.deck-column', placeholder: 'deck-card', tolerance: 'pointer', cursorAt: { left: 10, top: 10 } } }">
            <div class="deck-card">
                <img data-bind="attr: { src: Urls.imageCard.replace('__id__', $data.Id()).replace('__side__', 0) }, click: function () { $parent.Cards.remove($data); }" />
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
<button type="submit">Save</button>
}

<div id="card-search"></div>
<div id="search-results">
    <div class="pager-left" data-bind="click: function () { $root.pageChange(-1); }, visible: $data.Page() > 1">&lt;</div>
    <div class="pager-right" data-bind="click: function () { $root.pageChange(+1); }, visible: $data.Page() < $data.Pages()">&gt;</div>
    <div data-bind="foreach: CardsInfo">
        <img data-bind="attr: { src: Urls.imageCard.replace('__id__', $data.Card.Id).replace('__side__', 0) }, click: function() { $root.addCard($data.Card); }" />
        <span data-bind="text: $data.OwnedCount"></span>
    </div>
    <span data-bind="text: 'Page ' + $data.Page() + ' of ' + $data.Pages()"></span>
</div>
