@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    @this.InitClientTimings()
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Card Catalog</title>
    @this.TimeScript("Modernizr",
        @<script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>)
    @this.TimeScript("Site CSS",
        @<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />)
    @this.TimeScript("jQuery UI css",
        @<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />)
    @this.TimeScript("jQuery",
        @<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>)
    @this.TimeScript("jQuery UI",
        @<script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.min.js")" type="text/javascript"></script>)
    @this.TimeScript("jQuery Hotkeys",
        @<script src="@Url.Content("~/Scripts/jquery.hotkeys.min.js")" type="text/javascript"></script>)
    @this.TimeScript("Underscore",
        @<script src="@Url.Content("~/Scripts/underscore.min.js")" type="text/javascript"></script>)
    @this.TimeScript("Backbone",
        @<script src="@Url.Content("~/Scripts/backbone.min.js")" type="text/javascript"></script>)
    @this.TimeScript("Knockout",
        @<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>)
    @this.TimeScript("Knockout Mapping",
        @<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>)
    @this.TimeScript("Knockout Graph",
        @<script src="@Url.Content("~/Scripts/knockout-graph.js")" type="text/javascript"></script>)
    @this.TimeScript("Raphaël",
        @<script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>)
    @this.TimeScript("gRaphaël",
        @<script src="@Url.Content("~/Scripts/g.raphael-min.js")" type="text/javascript"></script>)
    @this.TimeScript("gRaphaël Bar",
        @<script src="@Url.Content("~/Scripts/g.bar-min.js")" type="text/javascript"></script>)
    @this.TimeScript("gRaphaël Dot",
        @<script src="@Url.Content("~/Scripts/g.dot-min.js")" type="text/javascript"></script>)
    @this.TimeScript("gRaphaël Line",
        @<script src="@Url.Content("~/Scripts/g.line-min.js")" type="text/javascript"></script>)
    @this.TimeScript("gRaphaël Pie",
        @<script src="@Url.Content("~/Scripts/g.pie-min.js")" type="text/javascript"></script>)
    @this.TimeScript("VisualSearch",
        @<script src="@Url.Content("~/Scripts/visualsearch.js")" type="text/javascript"></script>)
    <!--[if (!IE)|(gte IE 8)]><!-->
    @this.TimeScript("VisualSearch CSS (Data URI)",
        @<link href="@Url.Content("~/Content/visualsearch-datauri.css")" rel="stylesheet" type="text/css" />)
    <!--<![endif]-->
    <!--[if lte IE 7]><!-->
    @this.TimeScript("VisualSearch CSS",
        @<link href="@Url.Content("~/Content/visualsearch.css")" rel="stylesheet" type="text/css" />)
    <!--<![endif]-->
    <script>
        var Urls = {
            root: '@Url.Action("index", "home")',
            imageCard: '@Url.Action("card", "image", new { id = "__id__", side = "__side__" })',
            cardFind: '@Url.Action("find", "card")',
            cardDetails: '@Url.Action("details", "card", new { id = "__id__" })'
        };
    </script>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Card Catalog</h1>
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Decks", "index", "deck")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            <div style="float: right;">
            Find a card <input id="search-box" />
            </div>

            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @this.TimeScript("Site.js",
        @<text><script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script></text>)
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
</body>
</html>