@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    @this.InitClientTimings()
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @this.TimeScript("Modernizr", 
        @<script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>)
    @this.TimeScript("Site CSS", 
        @<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />)
    @this.TimeScript("jQuery UI css", 
        @<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />)
    @this.TimeScript("jQuery", 
        @<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>)
    @this.TimeScript("jQuery UI", 
        @<script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.min.js")" type="text/javascript"></script>)
    @this.TimeScript("jQuery Hotkeys", 
        @<script src="@Url.Content("~/Scripts/jquery.hotkeys.min.js")" type="text/javascript"></script>)
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
<div style="float: right;">
@using (Html.BeginForm("details", "card"))
{
    <text>Find a card <input id="search-box" /> <input type="hidden" id="id" name="id" /> <button type="button" id="go-button">Go</button></text>
}
</div>

<script>
    $(function () {
        $("#go-button").click(function () {
            window.location = '@Url.Action("details", "card", new { id = "_id_" })'.replace('_id_', $("#id").val());
        });
        $("#search-box").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("find", "card")",
                    dataType: "json",
                    data: { q: request.term },
                    success: function (data) {
                        response($.map(data.Results, function (item) {
                            return {
                                label: item.Name,
                                desc: item.Snippet,
                                id: item.ID,
                                value: item.Name
                            };
                        }));
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $("#id").val(ui.item ? ui.item.id : "");
            },
            change: function (event, ui) {
                $("#id").val(ui.item ? ui.item.id : "");
            }
        })
        .data("autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append('<a>' + item.label + '<br><span style="font-size: 8pt;">' + item.desc + '</span></a>')
                .appendTo(ul);
        };;
        $(document).bind('keyup.s', function () {
            $("#search-box").focus(); return false;
        });
    });
</script>
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @MiniProfiler.RenderIncludes()
</body>
</html>
